<footer class="style-15 container">
  <div class="row">
    <div class="col-md-8 mr-auto navigation-menu">
      <div class="row">
        <section class="col-md-4">
          <h2>5th Story</h2>
          <ul>
            <li><a href="#">Press</a></li>
            <li><a href="#">Stockists</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact  Us</li>
          </ul>
        </section>
        <section class="col-md-4">
          <h2>Products</h2>
          <ul>
            <li><a href="#">All Products</a></li>
            <li><a href="#">Scarves</a></li>
            <li><a href="#">Bag Charms</a></li>
            <li><a href="#">Stickers</a></li>
          </ul>
        </section>
        <section class="col-md-4">
          <h2>Follow us</h2>
          <ul>
            <li>
              <a href="#">
                <i class="fa fa-pinterest" aria-hidden="true"></i>
                Pinterest
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
                Instagram
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-vimeo" aria-hidden="true"></i>
                Vimeo
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                Email
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="col-12">
      <div class="copyright-wrapper text-center text-sm-left">
        Copyright © 2017 <span class="brand">5th Story.</span><br>
        <a href="#">
          Terms & Conditions
        </a>
         | 
        <a href="#">
          Privacy Policy
        </a>
      </div>
    </div>
  </div>
</footer>