<footer class="container-fluid style-10">
    <div class="row">
      <section class="col-12 text-center brand">
        <img src="http://www.edwardgreen.com/sites/all/themes/edwardgreen/images/home-quote-logo.png" alt="">
      </section>
    </div>
    <div class="row">
      <section class="col-2">
        <h4>GET IN TOUCH US</h4>
        <ul>
          {%- assign footer_linklist = section.settings.footer_linklist -%}
          {% if linklists[footer_linklist].links.size > 0 %}
            {% for link in linklists[footer_linklist].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
          {% endif %}
        </ul>
      </section>
      <section class="col-2">
        <h4>CUSTOMER CARE</h4>
        <ul>
        </ul>
      </section>
      <section class="col-2">
        <h4>LEGAL</h4>
        <ul>
        </ul>
      </section>
      <section class="col-2">
        <h4>STORES & STOCKISTS</h4>
        <ul>
        </ul>
      </section>
      <section class="col-4">
        <h4>JOIN OUR MAILING LIST</h4>
        <input type="text" placeholder="Enter email">
        <button>-></button>
      </section>
    </div>
    <div class="row">
      <section class="col-12 social-networks d-flex justify-content-end">
        <ul class="nav">
          <li>
            <a href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-envelope-o" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </section>
    </div>
  </footer>