<footer class="container-fluid style-14">
  <div class="row">
    <div class="col-12 menu-wrapper">
      <div class="row">
        <section class="col-3">
          ABOUT
          <ul>
            <li><a href="#">Careers</a></li>
            <li><a href="#">Affiliates</a></li>
            <li><a href="#">Stores</a></li>
          </ul>
        </section>
        <section class="col-3">
          CUSTOMER SERVICE
          <ul>
            <li><a href="#">Help</a></li>
            <li><a href="#">Shipping</a></li>
            <li><a href="#">Returns</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Your Order</a></li>
          </ul>
        </section>
        <section class="col-3">
          CONTACT US
          <ul>
            <li><a href="#">+44 (0)333 323 7728</a></li>
            <li><a href="#">info@endclothing.com</a></li>
            <li><a href="#">Live Chat - Online</a></li>
          </ul>
        </section>
        <section class="col-3">
          
          SIGN UP TO OUR MAILING LIST

          <input type="text" placeholder="Enter your email address">
          <button>JOIN</button>
          
          <ul class="nav social-icons">
            <li>
              <a href="#">
                <i class="fa fa-facebook" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-twitter" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-google-plus" aria-hidden="true"></i>
              </a>
            </li>
          </ul>

        </section>
      </div>
    </div>
    <div class="col-12 text-center payment-methods">
      <i class="fa fa-cc-visa" aria-hidden="true"></i>
      <i class="fa fa-cc-mastercard" aria-hidden="true"></i>
      <i class="fa fa-cc-discover" aria-hidden="true"></i>
      <i class="fa fa-cc-paypal" aria-hidden="true"></i>
      <i class="fa fa-cc-amex" aria-hidden="true"></i>
      <i class="fa fa-cc-jcb" aria-hidden="true"></i>
    </div>
    <div class="col-12 text-center copyright">
      Copyright © Ashworth and Parker Limited (t/a END.) 2017 | All Rights Reserved | VAT # GB 865368680 
      <a href="#">
        Terms & Conditions
      </a>
       | 
      <a href="#">
        Privacy Policy
      </a>
    </div>
  </div>
</footer>