<footer class="style-7">
  <div class="col-12">
    <ul class="nav justify-content-center">
      <li class="nav-item active">
        <a class="nav-link" href="#">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">FAQ</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">SHIPPING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">TRACKING</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">RETURNS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">CAREERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">PRIVACY POLICY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">NEWSLETTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-instagram" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-facebook" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-twitter" aria-hidden="true"></i>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-pinterest" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    <p class="text-center">
      A DIVISION OF CORNERMAN PRODUCTIONS, LLC © 2017. ALL RIGHTS RESERVED.
    </p>
  </div>
</footer>