<footer class="style-9">
  <div class="container">
    <div class="row">
      <div class="col-md-12 compay d-flex justify-content-center">
        <img class="logo" src="//cdn.shopify.com/s/files/1/0908/2096/t/2/assets/logo.png?2640229249847002412" alt="Old Harry">
      </div>
      
      <div class="col-12 copyrights text-center ">
        © Old Harry 2017. All rights reserved.
      </div>

      <div class="col-12  social-networks text-center d-flex justify-content-center">
        <ul class="nav">
          <li>
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </li>
          <li>
            <i class="fa fa-envelope-o" aria-hidden="true"></i>
          </li>
        </ul>
      </div>
    
      <div class="col-12 site-nav">
        <div class="row">
          <section class="col-md-4 d-none d-md-block">
            <h3>SITE</h3>
            <ul>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Support</a></li>
            </ul>
          </section>
          <section class="col-md-4 d-none d-md-block">
            <h3>SHOP</h3>
            <ul>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Shipping Methods</a></li>
              <li><a href="#">Click and Collect</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </section>
          <section class="col-12 col-md-4">
            <h3 class="text-center text-md-left">NEWSLETTER</h3>
            <div class="d-flex justify-content-center">
              <input type="text" placeholder="you@example.com">
              <button class="btn newsletter" type="submit">SUBMIT</button>
            </div>
          </section>
        </div>
      </div>

      <div class="col-12 notice text-center">
        Free Shipping on Orders £100 and Over
      </div>
    </div>
  </div>
</footer>