<footer class="style-8">
  <div class="col-12">
    <div class="row">
      <div class="col-md-6">
        <ul class="nav">
          <!-- ABOUT CONTACT FAQ SHIPPING TRACKING RETURNS CAREERS PRIVACY POLICY NEWSLETTER -->
          <li class="nav-item">
            <a class="nav-link" href="#">SHIPPING / RETURNS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">T&amp;Cs</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Newsletter</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 d-flex">
        <ul class="nav ml-auto">
          <li>
            <a class="nav-link" href="#">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="nav-link" href="#">
              <i class="fa fa-pinterest" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>

    <p class="copyright text-center">
      A DIVISION OF CORNERMAN PRODUCTIONS, LLC © 2017. ALL RIGHTS RESERVED.
    </p>
  </div>
</footer>