<footer class="container style-2">
    <div class="row d-block d-md-none mobile-menu">
        <div class="col-12">
            <ul>
                <li>
                    <h3 class="text-center">Newsletter</h3>
                    <p class="text-center">Sign up for 10% off your next order.</p>
                    <div class="row d-flex">
                        <div class="col-10 ml-auto mr-auto">
                            <form>
                                <fieldset>
                                    <input type="email" placeholder="Email Address">
                                    <button class="effect down" type="submit">Sign Up</button>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </li>
                <li>
                    <h3 class="text-center">Follow Us</h3>
                    <div class="d-flex">
                        <ul class="nav ml-auto mr-auto social-networks">
                            <li>
                                <a class="p-2" href="#" target="_blank">
                                    <i class="fa fa-facebook-official" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="p-2" href="#" target="_blank">
                                    <i class="fa fa-twitter" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="p-2" href="#" target="_blank">
                                    <i class="fa fa-instagram" aria-hidden="true"></i>
                                </a>
                            </li>
                            <li>
                                <a class="p-2" href="#" target="_blank">
                                    <i class="fa fa-snapchat" aria-hidden="true"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="menu-option">
                        <button type="button" 
                                data-toggle="collapse" 
                                data-target="#collapseSocial" 
                                aria-expanded="false" 
                                aria-controls="collapseSocial">
                            Button with data-target
                        </button>
                    </div>
                    <div class="collapse" id="collapseSocial">
                        <div>
                            <ul>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Instagram</a></li>
                                <li><a href="#">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="menu-option">
                        <button type="button" 
                                data-toggle="collapse" 
                                data-target="#collapseInformation" 
                                aria-expanded="false" 
                                aria-controls="collapseInformation">
                            Button with data-target
                        </button>
                    </div>
                    <div class="collapse" id="collapseInformation">
                        <div>
                            <ul>
                                <li><a href="#">Contact</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">Jobs</a></li>
                                <li><a href="#">Affiliates</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row d-none d-md-flex menu">
        <div class="col-3 company">
            <h3>Torino Company Co.</h3>
            <p>
                3100 West Cary Street<br>
                Richmond, VA 23221<br>
                <a class="phone" href="tel:8043554383">
                    804.355.4383
                </a>
            </p>
        </div>
        <div class="col-2">
            <h6>Follow</h6>
            <ul>
                <li>
                    <a href="#">
                        Instagram
                    </a>
                </li>
                <li>
                    <a href="#">
                        Twitter
                    </a>
                </li>
                <li>
                    <a href="#">
                        Facebook
                    </a>
                </li>
                <li>
                    <a href="#">
                        Pinterest
                    </a>
                </li>
                <li>
                    <a href="#">
                        Tumblr
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-2">
            <h6>Experience</h6>
            <ul>
                <li>
                    <a href="#">
                        Help
                    </a>
                </li>
                <li>
                    <a href="#">
                        Order Status
                    </a>
                </li>
                <li>
                    <a href="#">
                        Returns & Exchanges
                    </a>
                </li>
                <li>
                    <a href="#">
                        International
                    </a>
                </li>
                <li>
                    <a href="#">
                        Gift Cards
                    </a>
                </li>

            </ul>
        </div>
        <div class="col-2">
            <h6>Information</h6>
            <ul>
                <li>
                    <a href="#">
                        Contact
                    </a>
                </li>
                <li>
                    <a href="#">
                        About
                    </a>
                </li>
                <li>
                    <a href="#">
                        Jobs
                    </a>
                </li>
                <li>
                    <a href="#">
                        Affiliates
                    </a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <button class="newsletter effect down">Join The <br>Newsletter</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="copyright text-center text-md-left">
                <p>© 2017 Need Supply Company—All Rights Reserved</p>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="legal text-center text-md-left">
                <a href="#">Terms of Use</a>
                <a href="#">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>