<footer class="style-5">
    <div class="row">
      <div class="col-12 text-center">
        <i class="fa fa-angle-up" aria-hidden="true"></i>
        <br>
        BACK TO TOP
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <nav class="menu">
          <ul class="d-md-flex flex-wrap">
            <li class="float-md-left"><a href="#">ONLINE STORE</a></li>
            <li class="float-md-left"><a href="#">NEWSLETTER</a></li>
            <li class="float-md-left"><a href="#">CORPORATE</a></li>
            <li class="float-md-left"><a href="#">PRIVACY</a></li>
            <li class="float-md-left"><a href="#">COOKIE POLICY</a></li>
            <li class="float-md-left"><a href="#">DISCLAIMER</a></li>
            <li class="float-md-left"><a href="#">SITEMAP</a></li>
            <li class="float-md-left"><a href="#">BAR MARTINI®</a></li>
            <li class="float-md-left"><a href="#">STORE LOCATOR</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <h3 class="text-center">Follow us on</h3>
        <nav class="social-networks">
          <ul class="follow-us-on d-md-flex flex-wrap">
            <li>
              <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-facebook-f" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="row brand">
      <div class="col-md-5 text-center text-md-left">
        © 2017 DOLCE&amp;GABBANA
      </div>
      <div class="col-md-7 text-center text-md-right copyrights">
        VAT NUMBER 09297890155 – SIAE LICENCE N. 637/1/763 – ALL RIGHTS RESERVED
      </div>
    </div>
  </footer>