  <footer class="container-fluid style-11">
    <div class="row">
      <div class="col-12 text-center newsletter">
        <h1>JOIN OUR SECRET SOCIETY</h1>
        <p>
          Live our truth (i.e. parties, funny stuff, new stuff + sales)
        </p>
        <div class="newsletter-form">
          <input type="email" name="EmailAddress" value="" size="40" placeholder="Email Address">
        <input type="submit" value="Submit" class="with-arrow" >
        </div>
      </div>

      <div class="col-12 d-flex justify-content-center">
        <ul class="menu nav">
          <li><a href="#">ABOUT</a></li>
          <li><a href="#">SIZE CHART</a></li>
          <li><a href="#">CAREERS</a></li>
          <li><a href="#">CONTACT</a></li>
          <li><a href="#">WHOLESALE</a></li>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">PRIVACY</a></li>
          <li><a href="#">TERMS</a></li>
          <li><a href="#">SALES LOGIN</a></li>
        </ul>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <ul class="social-networks nav">
          <li>
            <a class="_blank" href="http://www.facebook.com/prestashop" target="_blank">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="_blank" href="http://www.twitter.com/prestashop" target="_blank">
                <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="_blank" href="https://www.google.com/+prestashop" rel="publisher" target="_blank">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li>
            <a class="_blank" href="https://www.google.com/+prestashop" rel="publisher" target="_blank">
                <i class="fa fa-snapchat" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-12 d-flex justify-content-center">
        © 2017 BBDAKOTA | ALL RIGHTS RESERVED
      </div>
    </div>
  </footer>