<footer class="container-fluid style-16">
  <div class="row">
    <section class="col-3">
      <h3>
        <i class="fa fa-search" aria-hidden="true"></i>
        CUSTOMER CARE
      </h3>
      <ul>
        <li>Find Store</li>
        <li>Find Store</li>
        <li>Find Store</li>
        <li>Find Store</li>
        <li>Find Store</li>
      </ul>
    </section>
    <section class="col-3">
      <h3>
        <i class="fa fa-search" aria-hidden="true"></i>
        OUR POLICIES
      </h3>
      <ul>
        <li>Find Store</li>
        <li>Find Store</li>
        <li>Find Store</li>
        <li>Find Store</li>
        <li>Find Store</li>
      </ul>
    </section>
    <section class="col-3">
      <h3>
        <i class="fa fa-search" aria-hidden="true"></i>
        OUR COMPANY
      </h3>
      <ul>
        <li>Find Store</li>
        <li>Find Store</li>
        <li>Find Store</li>
        <li>Find Store</li>
        <li>Find Store</li>
      </ul>
    </section>
    <section class="col-3">
      <h3>
        <i class="fa fa-search" aria-hidden="true"></i>
        FOLLOW US
      </h3>
      Sign up for our newsletter
      <ul class="nav">
        <li>
          <a href="#">
            <i class="fa fa-facebook" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-instagram" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-twitter" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-snapchat" aria-hidden="true"></i>
          </a>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-youtube" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
    </section>
  </div>

  <div class="row">
    <section class="col-3 service">
      <div class="store-feature text-center">
        FIND STORE
        <i class="fa fa-search" aria-hidden="true"></i>
      </div>
      <img class="img-fluid" src="https://www.beoplay.com/~/media/Global_elements/Footer/Spot/find_store_new.jpg" alt="">
    </section>
    <section class="col-3 service">
      <div class="store-feature text-center">
        SUPPORT
        <i class="fa fa-question-circle" aria-hidden="true"></i>
      </div>
      <img class="img-fluid" src="https://www.beoplay.com/~/media/Global_elements/Footer/Spot/find_store_new.jpg" alt="">
    </section>
    <section class="col-3 service">
      <div class="store-feature text-center">
        NEWSLETTER
        <i class="fa fa-envelope-o" aria-hidden="true"></i>
      </div>
      <img class="img-fluid" src="https://www.beoplay.com/~/media/Global_elements/Footer/Spot/find_store_new.jpg" alt="">
    </section>
    <section class="col-3 service">
      <div class="store-feature text-center">
        BANG &amp; Olufsen
        <i class="fa fa-home" aria-hidden="true"></i>
      </div>
      <img class="img-fluid" src="https://www.beoplay.com/~/media/Global_elements/Footer/Spot/find_store_new.jpg" alt="">
    </section>
    <section class="col-12">
      <div class="brand-info">
        <h3 class="brand ">B&O PLAY A/S is a member of Bang & Olufsen Group</h3>
        <h4 class="copyrights">© B&O PLAY 2017</h4>
      </div>
    </section>
  </div>

</footer>