<header class="container-fluid style-6">
    <div class="row">
        <div class="col-12">
            <div class="container d-flex flex-row wow slideInDown">
                <div>
                    <ul>
                        {%- for link in linklists.main-menu.links -%}
                        <li class="p-2">
                          <a href="{{ link.url }}">
                            {{ link.title | escape }}
                          </a>
                        </li>
                        {%- endfor -%}
                    </ul>
                </div>
                <div class="ml-auto mr-auto p-2">
                    {{ shop.name | escape }}
                </div>
                <div>
                    <ul>
                        <li class="p-2"><a href="#">Search</a></li>
                        <li class="p-2"><a href="#">USD</a></li>
                        <li class="p-2"><a href="#">Account</a></li>
                        <li class="p-2"><a href="#">Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid widget style-22">
    <div class="row">
        <div class="col-12 special-message">
            <p class="text-center p-2">
                <strong>FREE TWO DAY SHIPPING</strong>—Orders Over $100. Ends Monday. &nbsp; 
                <a href="/help/#promotion">View Details</a>
            </p>
        </div>
    </div>
</div>