<header class="container-fluid style-3">
    <div class="row">
      <div class="col-12 d-flex justify-content-center">
        Need help? +44 (0)20 7839 0202
        Contact

        FREE INTERNATIONAL RETURNS

        My Bag
        Checkout
        Log In
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="row d-flex mb-3">
          <div class="align-self-center p-2">
            <ul class="nav d-flex align-content-end">
              <li>Shop</li>
              <li>Discover</li>
              <li>Custom Mode</li>
            </ul>
          </div>
          <div class="align-self-center p-2">
            <img class="img-fluid" src="http://www.edwardgreen.com/sites/all/themes/edwardgreen/logo@x2.png">
          </div>
          <div class="align-self-center p-2">
            <ul class="nav d-flex align-content-start">
              <li>Journal</li>
              <li>About</li>
              <li>
                Search
                <i class="fa fa-search" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
        </div>    
      </div>
    </div>
  </header>