 <header class="container-fluid style-3">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div class="col-4 d-flex justify-content-start">
            <ul class="nav">
              <li>#ITSONLYFASHION</li>
            </ul>
          </div>
          <div class="col-4 align-self-center p-2 text-center">
            <h1>{{ shop.name | escape }}</h1>
          </div>
          <div class="col-4 d-flex justify-content-end">
            <ul class="nav">
              <li>
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
              </li>
              <li>
                <i class="fa fa-search" aria-hidden="true"></i>
              </li>
            </ul>
          </div>
        </div>    
      </div>
      <div class="col-12 d-flex justify-content-center" style="border-top: 1px solid #e6e6e6;">
        <ul class="nav">
        {%- for link in linklists.main-menu.links -%}
          <li>
            <a href="{{ link.url }}">
              {{ link.title | escape }}
            </a>
          </li>
        {%- endfor -%}
        </ul>
      </div>
    </div>
  </header>