<header class="container-fluid style-6">
    <div class="row">
        <div class="col-12">
            <div class="container d-flex flex-row wow slideInDown">
                <div>
                    <ul>
                        <li class="p-2"><a href="#">Mens</a></li>
                        <li class="p-2"><a href="#">Womens</a></li>
                        <li class="p-2"><a href="#">Life</a></li>
                    </ul>
                </div>
                <div class="ml-auto mr-auto p-2">
                    Need Supply Co.
                </div>
                <div>
                    <ul>
                        <li class="p-2"><a href="#">Search</a></li>
                        <li class="p-2"><a href="#">USD</a></li>
                        <li class="p-2"><a href="#">Account</a></li>
                        <li class="p-2"><a href="#">Cart</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>