<header class="container-fluid style-2">
  <div class="col-12 sale text-center">
    EXTRA 30% OFF SALE | ONLINE & IN-STORE
  </div>
  <div class="container">
    <div class="col-12">
      <nav class="navbar navbar-expand-lg navbar-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-brand" href="#">
          <div class="logo-mobile ml-auto">
            <a class="navbar-brand" href="#">
              <img src="https://cdn.shopify.com/s/files/1/0531/8325/t/1/assets/stampd-logo.svg?7814435342001663595" alt="Stampd" width="120">
            </a>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            {% comment %}<li class="nav-item active">
              <a class="nav-link" href="#">HOME <span class="sr-only">(current)</span></a>
            </li>{% endcomment %}
            <li class="nav-item">
              <a class="nav-link" href="#">SHOP</a>
            </li>
            {%- for link in linklists.main-menu.links -%}
            <li class="nav-item">
              <a class="nav-link" href="{{ link.url }}">
                {{ link.title | escape }}
              </a>
            </li>
            {%- endfor -%}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" 
              id="navbarDropdownMenuLink" data-toggle="dropdown" 
              aria-haspopup="true" 
              aria-expanded="false">
                INSPIRED
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-shopping-bag" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-star-o" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="#">
                <i class="fa fa-user" aria-hidden="true"></i>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
</header>