<header class="container-fluid style-8">
  <div class="row">
    <div class="col-12 text-center offer">
      <span>
        FREE UK DELIVERY ON ALL ORDERS OVER £150 | FREE UK RETURNS
      </span>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-12">
          <div class="d-flex">
            <div class="justify-content-start">
              United Kingdom
            </div>
            <div class="ml-auto mr-auto logo">
              END.
            </div>
            <div class="justify-content-end">
              <div>
                <ul class="nav">
                  <li>HELP</li>
                  <li>LOG IN</li>
                </ul>
              </div>
              <div style="float: right; font-size: 25px">
                <i class="fa fa-search" aria-hidden="true"></i>
                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="menu">
          <ul class="nav d-flex justify-content-between">
            <li><a href="#">LATEST</a></li>
            <li><a href="#">BRANDS</a></li>
            <li><a href="#">CLOTHING</a></li>
            <li><a href="#">FOOTWEAR</a></li>
            <li><a href="#">ACCESSORIES</a></li>
            <li><a href="#">GROOMIN</a></li>
            <li><a href="#">GIFTS</a></li>
            <li><a href="#">SALE</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>