
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="banner" style="border: 1px solid gray; padding: 14px 0px; text-align: center;font-size: 20px; margin: 20px 0;">
                New Markdowns—Up to 70% Off &nbsp; <a href="/womens/sale">Shop Sale</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="main-carousel slider style-2">
                <div class="item">
                    <img class="img-fluid" src="https://www.endclothing.com/media/endclothing_cms/2/8/28-07-2017_givenchy_1600x900.jpg" />
                    <div class="caption">
                        <a href="#">
                            <p class="title">
                                ENV&Iacute;O GRATIS!
                            </p>
                            <p class="subtitle">
                                En compras superiores a $700.
                            </p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ content_for_index }}
