<div class="container">
  <div class="row widget style-15">
    <div class="col-12 text-center">
      <h4 class="section-title">PROCESS</h4>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-8 mr-auto ml-auto text-center">
          <p>
            We thought about the bags’ aesthetic quality as well as their practicality. A handbag should be elegant, beautiful and useful.
          </p>
        </div>
        <div class="col-md-6">
          <p class="text-center text-md-left">
            Our handbags are made from highest quality Italian leather. The designs employ different textures, patterns and shades. The leather is embossed in python and crocodile skin patterns. While designing, we focus on the aesthetic and pragmatic aspects of our products: a purse should be elegant, pretty, and useful.
          </p>
        </div>
        <div class="col-md-6">
          <p class="text-center text-md-left">
            The bags are manufactured in Poland, which allows to achieve highest quality. The collections are relased in limited series, with every bag having its series numer hand-engraved.
          </p>
        </div>
        <div class="col-12 d-flex justify-content-center">
          <button>
            About the Brand
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 15",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 15",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}