<div class="container">
    <div class="row widget style-26">
        <div class="col-12">
            <ul class="nav nav-pills justify-content-center">
                <li class="nav-item active">
                    <a class="nav-link" onclick="selectGroup('*')">
                        ALL
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="selectGroup('new-arrival')">
                        NEW ARRIVALS
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="selectGroup('popular')">
                        POPULAR
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" onclick="selectGroup('bestsellers')">
                        BEST SELLERS
                    </a>
                </li>
            </ul>
            <ul class="row product_list grid">
                <li class="popular col-md-3">
                    <div class="product-container">
                        <div class="product-preview">
                            <a class="product-image-container" href="#">
                                <img class="img-fluid" 
                                     src="img/homepage/3/product.jpg">
                                <span class="new-tag" href="#">
                                    <span class="new-label">New</span>
                                </spans>
                            </a>
                            <div class="functional-buttons">
                            
                                <a class="quick-view" href="#" rel="#">
                                    <span>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="20" height="20" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                                            <g>
                                            <g>
                                            <path d="M51.6,96.7c11,0,21-3.9,28.8-10.5l35,35c0.8,0.8,1.8,1.2,2.9,1.2c1,0,2.1-0.4,2.9-1.2c1.6-1.6,1.6-4.2,0-5.8l-35-35    c6.5-7.8,10.5-17.9,10.5-28.8c0-24.9-20.2-45.1-45.1-45.1C26.8,6.5,6.5,26.8,6.5,51.6C6.5,76.5,26.8,96.7,51.6,96.7z M51.6,14.7    c20.4,0,36.9,16.6,36.9,36.9C88.5,72,72,88.5,51.6,88.5c-20.4,0-36.9-16.6-36.9-36.9C14.7,31.3,31.3,14.7,51.6,14.7z"></path>
                                            <path d="m47.5,78.3c0,2.3 1.8,4.1 4.1,4.1 2.3,0 4.1-1.8 4.1-4.1v-22.6h22.6c2.3,0 4.1-1.8 4.1-4.1s-1.8-4.1-4.1-4.1h-22.6v-22.6c0-2.3-1.8-4.1-4.1-4.1-2.3,0-4.1,1.8-4.1,4.1v22.6h-22.6c-2.3,0-4.1,1.8-4.1,4.1s1.8,4.1 4.1,4.1h22.6v22.6z"></path>
                                            </g>
                                            </g>
                                        </svg>
                                    </span>
                                </a>

                                <div class="wishlist">

                                    <a class="addToWishlist wishlistProd_18" href="#">
                                        <svg version="1.1" height="17px" width="17px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 378.94 378.94" style="enable-background:new 0 0 378.94 378.94;" xml:space="preserve">
                                            <g>
                                            <path d="M348.151,54.514c-19.883-19.884-46.315-30.826-74.435-30.826c-28.124,0-54.559,10.942-74.449,30.826l-9.798,9.8l-9.798-9.8
                                            c-19.884-19.884-46.325-30.826-74.443-30.826c-28.117,0-54.56,10.942-74.442,30.826c-41.049,41.053-41.049,107.848,0,148.885
                                            l147.09,147.091c2.405,2.414,5.399,3.892,8.527,4.461c1.049,0.207,2.104,0.303,3.161,0.303c4.161,0,8.329-1.587,11.498-4.764
                                            l147.09-147.091C389.203,162.362,389.203,95.567,348.151,54.514z M325.155,180.404L189.47,316.091L53.782,180.404
                                            c-28.368-28.364-28.368-74.514,0-102.893c13.741-13.739,32.017-21.296,51.446-21.296c19.431,0,37.702,7.557,51.438,21.296
                                            l21.305,21.312c6.107,6.098,16.897,6.098,23.003,0l21.297-21.312c13.737-13.739,32.009-21.296,51.446-21.296
                                            c19.431,0,37.701,7.557,51.438,21.296C353.526,105.89,353.526,152.039,325.155,180.404z"></path>
                                            </g>
                                        </svg>
                                    </a>
                                </div>

                                <div class="compare">
                                    <a class="add_to_compare" href="#" data-id-product="18">
                                        <svg width="19px" height="19px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.389 489.389" style="enable-background:new 0 0 489.389 489.389;" xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M261.294,326.102c-8.3-7.3-21.8-6.2-29.1,2.1l-77,86.8v-346.9c0-11.4-9.4-20.8-20.8-20.8s-20.8,9.4-20.8,20.8v346.9
                                            l-77-86.8c-8.3-8.3-20.8-9.4-29.1-2.1c-8.3,8.3-9.4,20.8-2.1,29.1l113.4,126.9c8.5,10.5,23.5,8.9,30.2,0l114.4-126.9
                                            C270.694,347.002,269.694,333.402,261.294,326.102z"></path>
                                            <path d="M483.994,134.702l-112.4-126.9c-10-10.1-22.5-10.7-31.2,0l-114.4,126.9c-7.3,8.3-6.2,21.8,2.1,29.1
                                            c12.8,10.2,25.7,3.2,29.1-2.1l77-86.8v345.9c0,11.4,9.4,20.8,20.8,20.8s20.8-8.3,20.8-19.8v-346.8l77,86.8
                                            c8.3,8.3,20.8,9.4,29.1,2.1C490.194,155.502,491.294,143.002,483.994,134.702z"></path>
                                            </g>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-info">
                            <h5 class="title">
                                <a class="product-name" href="#" title="White Casual Dress">
                                    White Casual Dress
                                </a>
                            </h5>
                            <div class="content-price">
                                <span class="price product-price">
                                    $30.50
                                </span>
                            </div>
                            <div class="button-container">
                                <a class="button effect up" 
                                    href="#">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="col-md-3 bestsellers">
                    <img src="img/homepage/3/product_2.jpg" class="img-fluid">
                </li>
                <li class="col-md-3 new-arrival">
                    <div class="product-container">
                        <div class="product-preview">
                            <a class="product-image-container" href="#">
                                <img class="img-fluid" 
                                     src="img/homepage/3/product.jpg">
                                <span class="new-tag" href="#">
                                    <span class="new-label">New</span>
                                </spans>
                            </a>
                            <div class="functional-buttons">
                            
                                <a class="quick-view" href="#" rel="#">
                                    <span>
                                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 129 129" width="20" height="20" xmlns:xlink="http://www.w3.org/1999/xlink" enable-background="new 0 0 129 129">
                                            <g>
                                            <g>
                                            <path d="M51.6,96.7c11,0,21-3.9,28.8-10.5l35,35c0.8,0.8,1.8,1.2,2.9,1.2c1,0,2.1-0.4,2.9-1.2c1.6-1.6,1.6-4.2,0-5.8l-35-35    c6.5-7.8,10.5-17.9,10.5-28.8c0-24.9-20.2-45.1-45.1-45.1C26.8,6.5,6.5,26.8,6.5,51.6C6.5,76.5,26.8,96.7,51.6,96.7z M51.6,14.7    c20.4,0,36.9,16.6,36.9,36.9C88.5,72,72,88.5,51.6,88.5c-20.4,0-36.9-16.6-36.9-36.9C14.7,31.3,31.3,14.7,51.6,14.7z"></path>
                                            <path d="m47.5,78.3c0,2.3 1.8,4.1 4.1,4.1 2.3,0 4.1-1.8 4.1-4.1v-22.6h22.6c2.3,0 4.1-1.8 4.1-4.1s-1.8-4.1-4.1-4.1h-22.6v-22.6c0-2.3-1.8-4.1-4.1-4.1-2.3,0-4.1,1.8-4.1,4.1v22.6h-22.6c-2.3,0-4.1,1.8-4.1,4.1s1.8,4.1 4.1,4.1h22.6v22.6z"></path>
                                            </g>
                                            </g>
                                        </svg>
                                    </span>
                                </a>

                                <div class="wishlist">

                                    <a class="addToWishlist wishlistProd_18" href="#">
                                        <svg version="1.1" height="17px" width="17px" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 378.94 378.94" style="enable-background:new 0 0 378.94 378.94;" xml:space="preserve">
                                            <g>
                                            <path d="M348.151,54.514c-19.883-19.884-46.315-30.826-74.435-30.826c-28.124,0-54.559,10.942-74.449,30.826l-9.798,9.8l-9.798-9.8
                                            c-19.884-19.884-46.325-30.826-74.443-30.826c-28.117,0-54.56,10.942-74.442,30.826c-41.049,41.053-41.049,107.848,0,148.885
                                            l147.09,147.091c2.405,2.414,5.399,3.892,8.527,4.461c1.049,0.207,2.104,0.303,3.161,0.303c4.161,0,8.329-1.587,11.498-4.764
                                            l147.09-147.091C389.203,162.362,389.203,95.567,348.151,54.514z M325.155,180.404L189.47,316.091L53.782,180.404
                                            c-28.368-28.364-28.368-74.514,0-102.893c13.741-13.739,32.017-21.296,51.446-21.296c19.431,0,37.702,7.557,51.438,21.296
                                            l21.305,21.312c6.107,6.098,16.897,6.098,23.003,0l21.297-21.312c13.737-13.739,32.009-21.296,51.446-21.296
                                            c19.431,0,37.701,7.557,51.438,21.296C353.526,105.89,353.526,152.039,325.155,180.404z"></path>
                                            </g>
                                        </svg>
                                    </a>
                                </div>

                                <div class="compare">
                                    <a class="add_to_compare" href="#" data-id-product="18">
                                        <svg width="19px" height="19px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 489.389 489.389" style="enable-background:new 0 0 489.389 489.389;" xml:space="preserve">
                                            <g>
                                            <g>
                                            <path d="M261.294,326.102c-8.3-7.3-21.8-6.2-29.1,2.1l-77,86.8v-346.9c0-11.4-9.4-20.8-20.8-20.8s-20.8,9.4-20.8,20.8v346.9
                                            l-77-86.8c-8.3-8.3-20.8-9.4-29.1-2.1c-8.3,8.3-9.4,20.8-2.1,29.1l113.4,126.9c8.5,10.5,23.5,8.9,30.2,0l114.4-126.9
                                            C270.694,347.002,269.694,333.402,261.294,326.102z"></path>
                                            <path d="M483.994,134.702l-112.4-126.9c-10-10.1-22.5-10.7-31.2,0l-114.4,126.9c-7.3,8.3-6.2,21.8,2.1,29.1
                                            c12.8,10.2,25.7,3.2,29.1-2.1l77-86.8v345.9c0,11.4,9.4,20.8,20.8,20.8s20.8-8.3,20.8-19.8v-346.8l77,86.8
                                            c8.3,8.3,20.8,9.4,29.1,2.1C490.194,155.502,491.294,143.002,483.994,134.702z"></path>
                                            </g>
                                            </g>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="product-info">
                            <h5 class="title">
                                <a class="product-name" href="#" title="White Casual Dress">
                                    White Casual Dress
                                </a>
                            </h5>
                            <div class="content-price">
                                <span class="price product-price">
                                    $30.50
                                </span>
                            </div>
                            <div class="button-container">
                                <a class="button effect up" 
                                    href="#">
                                    <span>Add to cart</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="col-md-3 bestsellers">
                    <img src="img/homepage/3/product_2.jpg" class="img-fluid">
                </li>
            </ul>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Widget 26",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 26",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}