<div class="container-fluid">
    <div class="row widget style-7">
      <div class="col-12">
        <a href="#">
          <div class="row discover-panel d-flex mb-3">
            <div class="col-6">
              <div class="product-image">
                <img class="img-fluid" src="http://www.edwardgreen.com/sites/default/files/arthouse_Chelsea-202-blk_disc.jpg">
              </div>
            </div>
            <div class="col-6 align-self-center content">
              <div class="text-center">
                <h2>The 202 Last</h2>
                <p>Subtly rounded, classically English.</p>
                <div class="link link-white">
                  <span>Discover the Last</span>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>