<div class="container">
  <div class="row widget style-34 wow fadeInUp" data-wow-duration="1s">
    <div class="col-md-6">
      <img src="https://www.paolita.co.uk/wp-content/uploads/2017/06/Solids-Onyx-Azar-Paolita-One-Piece-800x1066.jpg" alt="" class="img-fluid">
    </div>
    <div class="col-md-6">
      <div class="row collection-products">
        <div class="col-12 collection-description">
         <h2 class="editorial__heading fontsize--med">
            <a href="#">
              Onyx Collection
            </a>
         </h2>
         <div>
            <p>According to legend, Cupid cut the fingernails of Venus while she was sleeping on the banks of the Indus River. They settled on the bottom of the river, and were turned to stone, thus giving birth to onyx.</p>
         </div>
         <p>
            <a href="#">
              <span class="linkline">
                Explore the Collection
              </span>
              <span class="fa fa-long-arrow-right"></span>
            </a>
         </p>
         <!-- /editorial__cta -->
        </div>
        <div class="col-6 wow fadeInRight">
          <div class="product-title">
            <a href="#">
              <div class="reveal">

                <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/pic_back/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_back.jpg">

                <div class="hidden">
                   <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_detail.jpg">
                </div>
              </div>

              <h4>Argus Bikini</h4>
              <div>
                $220.00
              </div>
            </a>
          </div><!-- /product-title -->
        </div>
        <div class="col-6 wow fadeInRight" data-wow-delay=".5s">
          <div class="product-title">
            <a href="#">
              <div class="reveal">

                <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/pic_back/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_back.jpg">

                <div class="hidden">
                   <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_detail.jpg">
                </div>
              </div>

              <h4>Argus Bikini</h4>
              <div>
                $220.00
              </div>
            </a>
          </div><!-- /product-title -->
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 34",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 34",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}