<div class="container-fluid">
  <div class="row widget style-14">
    <div class="col-12 text-center">
      <h4 class="section-title">SUMMER/SUMMER 2017</h4>
    </div>
    <div class="col-12">
      <div class="row collection-slider">
        <div class="col-12">
          <img class="img-fluid" src="https://chylak.com/dist/assets/images/chylak-home-7-1440.jpg">
        </div>
        <div class="col-12">
          <img class="img-fluid" src="https://chylak.com/wp-content/uploads/2017/03/chylak-kolekcja-044-1080x720.jpg">
        </div>
        <div class="col-12">
          <img class="img-fluid" src="https://chylak.com/dist/assets/images/chylak-home-7-1440.jpg">
        </div>
        <div class="col-12">
          <img class="img-fluid" src="https://chylak.com/dist/assets/images/chylak-home-7-1440.jpg">
        </div>
        <div class="col-12">
          <img class="img-fluid" src="https://chylak.com/dist/assets/images/chylak-home-7-1440.jpg">
        </div>
        <div class="col-12">
          <img class="img-fluid" src="https://chylak.com/dist/assets/images/chylak-home-7-1440.jpg">
        </div>
      </div>
    </div>
    <div class="col-12 d-flex justify-content-center">
      <button>
        SEE THE CAMPAIGN
      </button>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 14",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 14",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}