  <div class="container-fluid widget style-47">
    <div class="row home-section-title">
      <div class="col-12 text-center">
        <h2 class="title">
          <span>
            Explore Edward Green
          </span>
        </h2>
      </div>
    </div>
  </div>