<div class="container-fluid">
  <div class="row widget style-6">
    <div class="col-12">
      <ul class="row">
        <li class="col-4 item item-title d-flex justify-content-center">
          <div class="align-self-center p-2 content">
            <h2 class="title text-center">
              NEW<br>
              ARRIVALS
            </h2>
            <a class="text-center" href="#">SHOP ONLINE</a>
          </div>
        </li>
        <li class="col-4 item">
          <a class="product-image" href="#">
            <div class="product-image">
              <img class="img-fluid" src="http://www.edwardgreen.com/shop/media/catalog/product/cache/2/image/528x460/17f82f742ffe127f42dca9de82fb58b1/P/i/Piccadilly_184_NAVYANT_main.jpg">
            </div>
            <div>
              <div class="product-text text-center">
                <h2 class="product-name no-margin">Piccadilly</h2>
                <div class="description">
                  <span>184 last — navy antique</span>
                </div>
              </div>
              <div class="price-box text-right">
                <span class="regular-price">
                  <span class="price">$1,220.00</span>
                </span>
              </div>
            </div>
          </a>
        </li>
        <li class="col-4 item">
          <a class="product-image" href="#">
            <div class="product-image">
              <img class="img-fluid" src="http://www.edwardgreen.com/shop/media/catalog/product/cache/2/image/528x460/17f82f742ffe127f42dca9de82fb58b1/P/i/Piccadilly_184_NAVYANT_main.jpg">
            </div>
            <div>
              <div class="product-text text-center">
                <h2 class="product-name no-margin">Piccadilly</h2>
                <div class="description">
                  <span>184 last — navy antique</span>
                </div>
              </div>
              <div class="price-box text-right">
                <span class="regular-price">
                  <span class="price">$1,220.00</span>
                </span>
              </div>
            </div>
          </a>
        </li>
        <li class="col-4 item">
          <a class="product-image" href="#">
            <div class="product-image">
              <img class="img-fluid" src="http://www.edwardgreen.com/shop/media/catalog/product/cache/2/image/528x460/17f82f742ffe127f42dca9de82fb58b1/P/i/Piccadilly_184_NAVYANT_main.jpg">
            </div>
            <div>
              <div class="product-text text-center">
                <h2 class="product-name no-margin">Piccadilly</h2>
                <div class="description">
                  <span>184 last — navy antique</span>
                </div>
              </div>
              <div class="price-box text-right">
                <span class="regular-price">
                  <span class="price">$1,220.00</span>
                </span>
              </div>
            </div>
          </a>
        </li>
        <li class="col-4 item">
          <a class="product-image" href="#">
            <div class="product-image">
              <img class="img-fluid" src="http://www.edwardgreen.com/shop/media/catalog/product/cache/2/image/528x460/17f82f742ffe127f42dca9de82fb58b1/P/i/Piccadilly_184_NAVYANT_main.jpg">
            </div>
            <div>
              <div class="product-text text-center">
                <h2 class="product-name no-margin">Piccadilly</h2>
                <div class="description">
                  <span>184 last — navy antique</span>
                </div>
              </div>
              <div class="price-box text-right">
                <span class="regular-price">
                  <span class="price">$1,220.00</span>
                </span>
              </div>
            </div>
          </a>
        </li>
        <li class="col-4 item">
          <a class="product-image" href="#">
            <div class="product-image">
              <img class="img-fluid" src="http://www.edwardgreen.com/shop/media/catalog/product/cache/2/image/528x460/17f82f742ffe127f42dca9de82fb58b1/P/i/Piccadilly_184_NAVYANT_main.jpg">
            </div>
            <div>
              <div class="product-text text-center">
                <h2 class="product-name no-margin">Piccadilly</h2>
                <div class="description">
                  <span>184 last — navy antique</span>
                </div>
              </div>
              <div class="price-box text-right">
                <span class="regular-price">
                  <span class="price">$1,220.00</span>
                </span>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 6",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 6",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}