<div class="container">
  <div class="row widget style-33 wow slideInUp">
    <div class="col-md-4">
      <div class="collection-description">
         <h2 class="editorial-heading">
            <a href="#">
              Shalimar
            </a>
         </h2>
         <div class="content">
            <p>
              Our journeys through the gardens of Lahore that inspired The Shalimar Collection, led us to create an evolution of the striking print. The juxtaposition between the vibrant.
            </p>
         </div>
         <p class="explore-content">
            <a href="#">
              <span class="linkline">
                Explore the Collection
              </span>
              <span class="fa fa-long-arrow-right"></span>
            </a>
         </p>
         <!-- /editorial__cta -->
      </div>
    </div>
    <div class="col-md-8">
      <a href="#">
        <img class="img-fluid" src="https://www.paolita.co.uk/wp-content/uploads/2016/11/Shalimar-Paolita-One-Piece-800x600.jpg" alt="">
      </a>
    </div>
    <div class="col-12">
      <div class="row collection-products">

        <div class="col-6 col-md-3 wow fadeInRight" data-wow-delay=".3s">
          <div class="product-title">
            <a href="#">
              <div class="reveal">

                <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/pic_back/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_back.jpg">

                <div class="hidden">
                   <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_detail.jpg">
                </div>
              </div>

              <h4>Argus Bikini</h4>
              <div>
                $220.00
              </div>
            </a>
          </div><!-- /product-title -->
        </div>

        <div class="col-6 col-md-3 wow fadeInRight" data-wow-delay=".6s">
          <div class="product-title">
            <a href="#">
              <div class="reveal">

                <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/pic_back/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_back.jpg">

                <div class="hidden">
                   <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_detail.jpg">
                </div>
              </div>

              <h4>Argus Bikini</h4>
              <div>
                $220.00
              </div>
            </a>
          </div><!-- /product-title -->
        </div>

        <div class="col-6 col-md-3 ml-auto mr-auto wow fadeInRight" data-wow-delay=".9s">
          <div class="product-title">
            <a href="#">
              <div class="reveal">

                <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/pic_back/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_back.jpg">

                <div class="hidden">
                   <img class="img-fluid" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/small_image/350x/17f82f742ffe127f42dca9de82fb58b1/a/r/argus_detail.jpg">
                </div>
              </div>

              <h4>Argus Bikini</h4>
              <div>
                $220.00
              </div>
            </a>
          </div><!-- /product-title -->
        </div>

      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 33",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 33",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}