  <div class="container-fluid">
    <div class="row widget style-8">
      <div class="col-12">
        <div class="grid-items">
          <ul class="row">
            <li class="col-3">
              <img src="http://bbd.basicagencydev.com/wp-content/uploads/2015/10/Img1.jpg" class="img-fluid">
            </li>
            <li class="col-3">
              <img src="http://bbd.basicagencydev.com/wp-content/uploads/2015/10/Img1.jpg" class="img-fluid">
            </li>
            <li class="col-3">
              <img src="http://bbd.basicagencydev.com/wp-content/uploads/2015/10/Img1.jpg" class="img-fluid">
            </li>
            <li class="col-3">
              <img src="http://bbd.basicagencydev.com/wp-content/uploads/2015/10/Img1.jpg" class="img-fluid">
            </li>
          </ul>
          <div class="d-flex justify-content-center">
            <div class="info">
              <span>ESCAPE TO LISBON</span>
              <h1>FIND YOUR CALIFORNIA TRAVEL</h1>
              <p>As featured on Harper's Bazaar, find you California's Nico Guilis shoots Vanessa Hudgens in Lisbon, Portugal.</p>
              <button>VIEW THE STORY</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% schema %}
{
  "name": "Widget 8",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 8",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}