<div class="container-fluid widget style-46">
    <div class="row">
      <div class="col-12">
        <div class="col-md-12 col-quote align-center">
          <div class="image d-flex justify-content-center"">
            <img src="http://www.edwardgreen.com/sites/default/files/home-quote-logo.png">
          </div>
          <h2 class="text-center">EXCELLENCE WITHOUT COMPROMISE</h2>
          <div class="quote text-center">
            Edward Green established his shoemaking workshop in Northampton in 1890. His name soon became synonymous with the finest English Goodyear welted footwear.    
          </div>
          <div class="link text-center">
            <a href="">Our story</a>
          </div>
        </div>
      </div>
    </div>
</div>