<div class="container">
    <div class="row widget style-20 d-flex">
        <div class="col-12 col-sm-6 wow  slideInUp">
            <img src="img/slider/main_section.jpg" class="img-fluid">
        </div>
        <div class="col-12 col-sm-6 wow  slideInUp align-self-center" data-wow-delay="100ms">
            <div class="column-text text-center text-sm-left">
                <h3>NEED CENTER</h3>
                <p>
                    Introducing the NEED 1996 Collection—Everything you love about vintage (and the '90s), with a sleeker and slimmer silhouette for everyday wear.
                </p>
                <a class="effect up" href="#">Shop Now</a>
            </div>
        </div>
    </div>
</div>