<div class="container">
  <div class="row widget style-17">
    <div class="col-12 text-center">
      <h1 class="section-title">
        Soft accessories, playfully designed with you in mind
      </h1>
    </div>
    <article class="col-6 ml-auto mr-auto col-md-4">
      <figure class="featured">
        <img class="img-fluid" 
        src="//cdn.shopify.com/s/files/1/0887/5768/collections/grey_lavender_galaxy_fox_fur_scarf_1024x1024.jpg">
        <div class="overlay-wrapper color-white">
          <div class="overlay">
            <h3 class="title">
              <a href="#">Scarves</a>
            </h3>
          </div>
        </div>
      </figure>
    </article>
    <article class="col-6 ml-auto mr-auto col-md-4">
      <figure class="featured">
        <img class="img-fluid" 
        src="//cdn.shopify.com/s/files/1/0887/5768/collections/grey_lavender_galaxy_fox_fur_scarf_1024x1024.jpg">
        <div class="overlay-wrapper color-white">
          <div class="overlay">
            <h3 class="title">
              <a href="#">Scarves</a>
            </h3>
          </div>
        </div>
      </figure>
    </article>
    <article class="col-6 ml-auto mr-auto col-md-4">
      <figure class="featured">
        <img class="img-fluid" 
        src="//cdn.shopify.com/s/files/1/0887/5768/collections/grey_lavender_galaxy_fox_fur_scarf_1024x1024.jpg">
        <div class="overlay-wrapper color-white">
          <div class="overlay">
            <h3 class="title">
              <a href="#">Scarves</a>
            </h3>
          </div>
        </div>
      </figure>
    </article>
  </div>
</div>