<div class="container-fluid widget style-53">
  <div class="row">
    <div class="col-md-6 text-center">
      <section class="post">
        <a href="#" target="_blank">
          <img class="img-fluid" src="http://fast.dolceandgabbana.com/wp-content/uploads/dolce-and-gabbana-winter-2018-woman-ortensia-collection-online-store-1020x574.jpg">
        </a>
        <div class="content">
          <header>
            <a href="#" target="_blank">
              <h2 class="headline">
                Online Stores
              </h2>
              <span class="subtitle">
                Ortensia
              </span>
            </a>
          </header>
          <article>
            <p>
              The new Ortensia collection evokes an English garden in Sicily, with hydrangea petals in varying colors that come to life on ready to wear and accessories.
            </p>
          </article>
          <a href="#" target="_blank" class="dg-btn--black">
            Shop Now
          </a>
        </div>
      </section>
    </div>

    <div class="col-md-6 text-center">
      <section class="post">
        <a href="#" target="_blank">
          <img class="img-fluid" src="http://fast.dolceandgabbana.com/wp-content/uploads/dolce-and-gabbana-winter-2018-woman-ortensia-collection-online-store-1020x574.jpg">
        </a>
        <div class="content">
          <header>
            <a href="#" target="_blank">
              <h2 class="headline">
                Online Store
              </h2>
              <span class="subtitle">
                Ortensia
              </span>
            </a>
          </header>
          <article>
            <p>
              The new Ortensia collection evokes an English garden in Sicily, with hydrangea petals in varying colors that come to life on ready to wear and accessories.
            </p>
          </article>
          <a href="#" target="_blank" class="dg-btn--black">
            Shop Now
          </a>
        </div>
      </section>
    </div>

  </div>
</div>

{% schema %}
{
  "name": "Widget 53",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 53",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}