<div class="container-fluid widget style-45" style="overflow: hidden;">
    <div class="row">
      <div class="col-12" style="height: 600px">
        <div class="d-flex justify-content-center bd-highlight mb-3">
          <h1 class="align-self-center p-2 bd-highlight" 
          style="
            color: white;
            text-align: center;
            font-size: 70px;
            padding-top: 230px !important;
          ">IT'S ONLY FASHION</h1>

          <video style="
                  position: absolute;
                  top: 50%; 
                  left: 50%;
                  -webkit-transform: translateX(-50%) translateY(-50%);
                  transform: translateX(-50%) translateY(-50%);
                  min-width: 100%; 
                  min-height: 100%; 
                  width: auto; 
                  height: auto;
                  z-index: -1000;
                  overflow: hidden;" autoplay="" loop="" muted="">
            <source src="img/homepage/8/jack-keepdancing.mp4" type="video/mp4">
          </video>
        </div>
      </div>
    </div>
  </div>