<div class="container-fluid widget style-51">
  <div class="row">
     <div class="col-md-8">
        <a href="#" class="opacity-hover" target="_blank">
           <div class="global-image-wrapper">
              <img class="img-fluid" src="http://fast.dolceandgabbana.com/wp-content/uploads/dolce-and-gabbana-summer-2018-boycott-tshirt-online-store-1020x574.jpg">
           </div>
        </a>
     </div>
     <div class="col-md-4 vertical-align information text-center">
        <header>
          <a href="#" target="_blank">
            <h2>#BOYCOTTDOLCEGABBANA</h2>
            <span class="subtitle">
              Discover the new T‑Shirts
            </span>
          </a>
          <br>
          <a href="#" class="dg-btn--black" target="_blank">
            Shop Now
          </a>
        </header>
     </div>
  </div>
</div>

{% schema %}
{
  "name": "Widget 51",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 51",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}