  <div class="container-fluid">
    <div class="row widget style-9">
      <div class="col-12">
        <ul class="nav col-images row">
          <li class="col-6">
            <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2016/01/img1-perdre_la_femme.jpg">
          </li>
          <li class="col-6">
            <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2016/01/img2-perdre_la_femme.jpg">
          </li>
        </ul>
      </div>

      <div class="col-12">
        <div class="collection-info">
          <div class="row">
            <div class="col-md-4 ml-auto mr-auto">
              <div class="content">
                <div class="border">
                  <span>BB DAKOTA</span>
                  <h2>BURNING UPs</h2>
                  <hr>
                  <p>Sequins, sweeping necklines, big hair, dramatic eyes, a come-hither stare. Taking names, turning heads and setting trends. She's a brick house.</p>

                  <button>EXPLORE THE COLLECTION</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
{% schema %}
{
  "name": "Widget 9",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 9",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}