<div class="container-fluid">
    <div class="row widget style-40">
        <div class="col-md-12">
            <a href="#">
                <img class="wow slideInUp img-fluid" src="https://needsupply.com/media/wysiwyg/201708/17_08_14_homepage_w_4.jpg">
                <div class="message left d-flex wow  zoomIn">
                    <span class="align-self-center">
                        <h3>New from PERRO</h3>
                        <p>
                            Lightweight fabrics and shirting stripes are softened with feminine details
                        </p>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>