<div class="container">
    <div class="row widget style-36">
        <div class="col-md-12 text-center section-title">
            <h3>LATEST PRODUCTS</h3>
            <a>VIEW LATEST PRODUCTS</a>
        </div>

        <div class="col-6 col-md-3 product">
            <a data-wow-delay="00ms" class="wow animated fadeIn" style="display: block;" href="#">
                <img class="img-fluid"
                src="https://s3-us-west-2.amazonaws.com/cuidadoconelperro-sta/images/pg/m_3257fd3fe39e2fe.jpg"
                alt="Playera b&aacute;sica con bordado"
                />
                <div class="product-caption">
                    <h3>
                        Playera b&aacute;sica con bordado
                    </h3>
                    <p>
                        $79.90 MXN
                    </p>
                </div>
            </a>
        </div>

        <div class="col-6 col-md-3 product">
            <a data-wow-delay="100ms" class="wow animated fadeIn" style="display: block;">
                <img class="img-fluid"
                src="https://s3-us-west-2.amazonaws.com/cuidadoconelperro-sta/images/pg/m_3257fd447e44b2e.jpg"
                alt="Cazadora estilo bomber"
                />
                <div class="product-caption">
                    <h3>Cazadora estilo bomber</h3>
                    <p>
                        $449.00 MXN
                    </p>
                </div>
            </a>
        </div>

        <div class="col-6 col-md-3 product">
            <a data-wow-delay="200ms" class="wow animated fadeIn" style="display: block;">
                <img class="img-fluid"
                src="https://s3-us-west-2.amazonaws.com/cuidadoconelperro-sta/images/pg/m_3257fd5209e3d6c.jpg"
                alt="SUDADERA PRINT LINEAS ABSTRACTAS"
                />
                <div class="product-caption">
                    <h3>SUDADERA PRINT LINEAS ABSTRACTAS</h3>
                    <p>
                        $169.00 MXN
                    </p>
                </div>
            </a>
        </div>

        <div class="col-6 col-md-3 product">
            <a data-wow-delay="300ms" class="wow animated fadeIn" style="display: block;">
                <img class="img-fluid"
                src="https://s3-us-west-2.amazonaws.com/cuidadoconelperro-sta/images/pg/m_3257fff373f0f03.jpg"
                alt="Jogger de felpa"
                />
                <div class="product-caption">
                    <h3>Jogger de felpa</h3>
                    <p>
                        $229.00 MXN
                    </p>
                </div>
            </a>
        </div>

        <div class="col-6 col-md-3 product">
            <a data-wow-delay="400ms" class="wow animated fadeIn" style="display: block;">
                <img class="img-fluid"
                src="https://s3-us-west-2.amazonaws.com/cuidadoconelperro-sta/images/pg/m_3257ffe6a8065d1.jpg"
                alt="Playera con color Block"
                />
                <div class="product-caption">
                    <h3>Playera con color Block</h3>
                    <p>
                        $169.00 MXN
                    </p>
                </div>
            </a>
        </div>

        <div class="col-6 col-md-3 product">
            <a data-wow-delay="500ms" class="wow animated fadeIn" style="display: block;">
                <img class="img-fluid"
                src="https://s3-us-west-2.amazonaws.com/cuidadoconelperro-sta/images/pg/m_3257fff373f0f03.jpg"
                alt="Jogger de felpa"
                />
                <div class="product-caption">
                    <h3>Jogger de felpa</h3>
                    <p>
                        $229.00 MXN
                    </p>
                </div>
            </a>
        </div>

        <div class="col-6 col-md-3 product">
            <a data-wow-delay="600ms" class="wow animated fadeIn" style="display: block;">
                <img class="img-fluid"
                src="https://s3-us-west-2.amazonaws.com/cuidadoconelperro-sta/images/pg/m_3257fd5209e3d6c.jpg"
                alt="SUDADERA PRINT LINEAS ABSTRACTAS"
                />
                <div class="product-caption">
                    <h3>SUDADERA PRINT LINEAS ABSTRACTAS</h3>
                    <p>
                        $169.00 MXN
                    </p>
                </div>
            </a>
        </div>

        <div class="col-6 col-md-3 product">
            <a data-wow-delay="700ms" class="wow animated fadeIn" style="display: block;">
                <img class="img-fluid"
                src="https://s3-us-west-2.amazonaws.com/cuidadoconelperro-sta/images/pg/m_325800fad659ff2.jpg"
                alt="Pantal&oacute;n Denim b&aacute;sico Skinny"
                />
                <div class="product-caption">
                    <h3>Pantal&oacute;n Denim b&aacute;sico Skinny</h3>
                    <p>
                        $199.00 MXN
                    </p>
                </div>
            </a>
        </div>
    </div>
</div>