  <div class="content-block-one">
    <div class="container">
      <div class="row widget style-43">
        <div class="col-12">
          <h2 class="text-center" style="padding: 45px;">
            <span style="font-size: 21px;padding: 16px;border: 1px solid;">
              BLOG POSTS
            </span>
          </h2>
        </div>

        <div class="col-sm-6">
          <a href="#">
            <h2 class="text-center post-title">Another Blog Post</h2>
            <img src="img/homepage/4/blog.jpg" class="img-fluid post-thumbnail">
          </a>
          <div class="publish-date">Posted on Apr 28, 2017</div>
          <p>
            Gluten-free Helvetica disrupt, minim duis Pinterest ex irony viral id dolor sint. Occupy drinking vinegar quinoa, semiotics disrupt tousled roof party mustache elit tofu ugh VHS umami distillery. Nisi tempor mumblecore, in do swag cupidatat officia. Butcher deep v fap leggings irony distillery. Kale chips vero cardigan synth. Selvage sunt chillwave, delectus sustainable accusamus small batch American Apparel sartorial Helvetica literally. Eu aliqua dolor, street art Banksy gastropub cornhole VHS.
          </p>
        </div>

        <div class="col-sm-6">
          <a href="#">
            <h2 class="text-center post-title">Another Blog Post</h2>
            <img src="img/homepage/4/blog.jpg" class="img-fluid post-thumbnail">
          </a>
          <div class="publish-date">Posted on Apr 28, 2017</div>
          <p>
            Gluten-free Helvetica disrupt, minim duis Pinterest ex irony viral id dolor sint. Occupy drinking vinegar quinoa, semiotics disrupt tousled roof party mustache elit tofu ugh VHS umami distillery. Nisi tempor mumblecore, in do swag cupidatat officia. Butcher deep v fap leggings irony distillery. Kale chips vero cardigan synth. Selvage sunt chillwave, delectus sustainable accusamus small batch American Apparel sartorial Helvetica literally. Eu aliqua dolor, street art Banksy gastropub cornhole VHS.
          </p>
        </div>

      </div>
    </div>
  </div>