<div class="container widget style-23">
    <div class="row">
        <div class="col-12 col-sm-6 wow  slideInUp">
            <a href="#">
                <img class="img-fluid" src="http://cdn.needsupply.com/media/wysiwyg/201707/07_24_whp_02.jpg">
                <span>SHOP COTTON</span>
            </a>
        </div>
        <div class="col-12 col-sm-6 wow  slideInUp" data-wow-delay="100ms">
            <a href="#">
                <img class="img-fluid" src="http://cdn.needsupply.com/media/wysiwyg/201707/07_24_whp_02.jpg">
                <span>SHOP COTTON</span>
            </a>
        </div>
    </div>
</div>