<div class="container-fluid">
    <div class="row widget style-40">
        <div class="col-md-12">
            <a href="#">
                <img class="wow slideInUp img-fluid" src="https://needsupply.com/media/wysiwyg/201708/17_08_14_homepage_w_4.jpg">
                <div class="message left d-flex wow  zoomIn">
                    <span class="align-self-center">
                        <h3>
                          {{ section.settings.title }}
                        </h3>
                        <p>
                            {{ section.settings.subtitle }}
                        </p>
                    </span>
                </div>
            </a>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Widget 40",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Title"
  },{
    "type": "text",
    "id": "subtitle",
    "label": "Subtitle"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 40",
    "settings": {
      "title": "Hello World",
      "subtitle": "Hello World"
    }
  }]
}
{% endschema %}