  <div class="content-block-one">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-center" style="padding: 45px;">
            <span style="font-size: 21px;padding: 16px;border: 1px solid;">
              NEW ARRIVALS
            </span>
          </h2>
        </div>
      </div>

      <div class="row widget style-42">        
        <div class="col-sm-6 col-md-3 product">
           <div class="ci">
              <a href="#" title="Be True Blouse">
                 <div class="reveal">
                    
                    <img src="img/homepage/4/product.jpg" class="img-fluid">

                    <div class="hidden">
                       <img src="//cdn.shopify.com/s/files/1/0652/5249/products/2Q_-1_500x.jpg?v=1493311371" class="img-fluid">
                    </div>
                 </div>
              </a>
           </div>
           <div class="product-info"> 
              <a class="fancybox.ajax product-modal" rel="nofollow" href="#">Quick View</a>
           </div>
           <div class="product-details">
              <a href="#">
                 <h3>Be True Blouse</h3>
              </a>
              <div class="price">
                 <div class="prod-price">$65.00</div>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-3 product">
           <div class="ci">
              <a href="#" title="Be True Blouse">
                 <div class="reveal">
                    
                    <img src="img/homepage/4/product.jpg" class="img-fluid">

                    <div class="hidden">
                       <img src="//cdn.shopify.com/s/files/1/0652/5249/products/2Q_-1_500x.jpg?v=1493311371" class="img-fluid">
                    </div>
                 </div>
              </a>
           </div>
           <div class="product-info"> 
              <a class="fancybox.ajax product-modal" rel="nofollow" href="#">Quick View</a>
           </div>
           <div class="product-details">
              <a href="#">
                 <h3>Be True Blouse</h3>
              </a>
              <div class="price">
                 <div class="prod-price">$65.00</div>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-3 product">
           <div class="ci">
              <a href="#" title="Be True Blouse">
                 <div class="reveal">
                    
                    <img src="img/homepage/4/product.jpg" class="img-fluid">

                    <div class="hidden">
                       <img src="//cdn.shopify.com/s/files/1/0652/5249/products/2Q_-1_500x.jpg?v=1493311371" class="img-fluid">
                    </div>
                 </div>
              </a>
           </div>
           <div class="product-info"> 
              <a class="fancybox.ajax product-modal" rel="nofollow" href="#">Quick View</a>
           </div>
           <div class="product-details">
              <a href="#">
                 <h3>Be True Blouse</h3>
              </a>
              <div class="price">
                 <div class="prod-price">$65.00</div>
              </div>
           </div>
        </div>
        <div class="col-sm-6 col-md-3 product">
           <div class="ci">
              <a href="#" title="Be True Blouse">
                 <div class="reveal">
                    
                    <img src="img/homepage/4/product.jpg" class="img-fluid">

                    <div class="hidden">
                       <img src="//cdn.shopify.com/s/files/1/0652/5249/products/2Q_-1_500x.jpg?v=1493311371" class="img-fluid">
                    </div>
                 </div>
              </a>
           </div>
           <div class="product-info"> 
              <a class="fancybox.ajax product-modal" rel="nofollow" href="#">Quick View</a>
           </div>
           <div class="product-details">
              <a href="#">
                 <h3>Be True Blouse</h3>
              </a>
              <div class="price">
                 <div class="prod-price">$65.00</div>
              </div>
           </div>
        </div>
      </div>
      
    </div>
  </div>
{% schema %}
{
  "name": "Widget 42",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 42",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}