<div class="container">
  <div class="row wow fadeIn widget style-39">
    <div class="col-md-6 ml-auto">
      <div>Paolita Swimwear on Instagram</div>
      <a href="#">
        <span class="linkline">
          Explore the Collection
        </span>
        <span class="fa fa-long-arrow-right"></span>
      </a>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-md-12">
          <div class="row d-flex">
            <div class="col-6 col-md-6 mt-auto">
              <div class="row">
                <div class="ml-auto col-md-6 ">
                  <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20688563_331220697327790_4157073123239264256_n.jpg" alt="" class="img-fluid">
                </div>
              </div>
            </div>
            <div class="col-6 col-md-6">
              <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20688563_331220697327790_4157073123239264256_n.jpg" alt="" class="img-fluid">
            </div>
          </div>
        </div>
        <div class="col-6 col-md-3">
          <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20688563_331220697327790_4157073123239264256_n.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-3">
          <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20688563_331220697327790_4157073123239264256_n.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-3">
          <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20688563_331220697327790_4157073123239264256_n.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-3">
          <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20688563_331220697327790_4157073123239264256_n.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-6 mr-auto">
          <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20688563_331220697327790_4157073123239264256_n.jpg" alt="" class="img-fluid">
        </div>
        <div class="col-6 col-md-12">
          <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/20688563_331220697327790_4157073123239264256_n.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 39",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 39",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}