<div class="container-fluid widget style-11">
  <div class="row d-flex justify-content-start">
    <div class="col-3 mt-auto p-2">
      <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2015/12/greylayers_babesinbbd-700x700.jpg" alt="">
    </div>
    <div class="col-3 mt-auto p-2">
      <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2015/11/Amy-Poehler-seen-leaving-the-Magic-Radio-Studios1.jpg" alt="">
    </div>
    <div class="col-6 p-2">
      <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2015/12/VanessaHudgens_babesinbbd-700x700.jpg" alt="">
    </div>
    <div class="col-2 p-2">
      <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2015/11/DSCF1898-low-crop-393x393.jpg" alt="">
    </div>
    <div class="col-4 p-2">
      <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2015/11/Screenshot-48-700x705.jpg" alt="">
    </div>
    <div class="col-4 p-2">
      <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2015/12/VanessaHudgens_babesinbbd-700x700.jpg" alt="">
    </div>
    <div class="col-2 p-2">
      <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2015/12/VanessaHudgens_babesinbbd-700x700.jpg" alt="">
    </div>
    <div class="col-2 ml-auto mr-auto p-2">
      <img class="img-fluid" src="http://bbd.basicagencydev.com/wp-content/uploads/2015/12/VanessaHudgens_babesinbbd-700x700.jpg" alt="">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="collection-info">
        <div class="row">
          <div class="col-md-4 ml-auto mr-auto">
            <div class="content">
              <div class="border text-center">
                <h1>#BABESINBBD</h1>
                <button>EXPLORE BABES</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 11",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 11",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}