<div class="container-fluid widget style-22">
    <div class="row">
        <div class="col-12 special-message">
            <p class="text-center p-2">
                <strong>FREE TWO DAY SHIPPING</strong>—Orders Over $100. Ends Monday. &nbsp; 
                <a href="/help/#promotion">View Details</a>
            </p>
        </div>
    </div>
</div>