<div class="container">
  <div class="row widget style-3">
    <div class="col-12">
      <h4 class="section-title text-center ml-auto mr-auto">
        INSTAGRAM
      </h4>
    </div>
    <div class="col-sm-6 col-md-3">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0531/8325/t/1/assets/touts-image_1.jpg">
    </div>
    <div class="col-sm-6 col-md-3">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0531/8325/t/1/assets/touts-image_1.jpg">
    </div>
    <div class="col-sm-6 col-md-3">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0531/8325/t/1/assets/touts-image_1.jpg">
    </div>
    <div class="col-sm-6 col-md-3">
      <img class="img-fluid" src="https://cdn.shopify.com/s/files/1/0531/8325/t/1/assets/touts-image_1.jpg">
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 3",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 3",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}