<div class="container widget style-41">
  <div class="row">
    <div class="col-12">
        <h2 class="text-center" style="padding: 45px;">
          <span style="font-size: 21px;padding: 16px;border: 1px solid;">
            COLLECTIONS
          </span>
        </h2>
      </div>
  </div>
  <div class="row promo">
    <div class="col-4">
      <a href="#">
        <img src="img/homepage/4/category.jpg" class="img-fluid">
        <div class="caption">  
          <p>PLAYSUITS</p>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a href="#">
        <img src="img/homepage/4/category.jpg" class="img-fluid">
        <div class="caption">  
          <p>TOPS</p>
        </div>
      </a>
    </div>
    <div class="col-4">
      <a href="#">
        <img src="img/homepage/4/category.jpg" class="img-fluid">
        <div class="caption">  
          <p>DRESSES</p>
        </div>
      </a>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 41",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 41",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}