<div class="container">
    <div class="row widget style-18">
        <div class="col-md-12 main-phrase wow  slideInUp">
            <p>
                {{ section.settings.phrase }}
            </p>
            <a class="button effect up" href="#">
              {{ section.settings.buttontext }}
            </a>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Widget 18",
  "settings": [{
    "type": "text",
    "id": "phrase",
    "label": "Heading"
  },{
    "type": "text",
    "id": "buttontext",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 18",
    "settings": {
      "phrase": "Hello World",
      "buttontext": "World"
    }
  }]
}
{% endschema %}