<div class="container wow fadeInUp widget style-38">
  <div class="row">
    <div class="col-md-6 mr-auto">
      <h3 class="fontsize--med font--semibold device feature__heading">
        ‘Expertly created using the highest quality European fabrics’
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="https://www.paolita.co.uk/wp-content/uploads/2017/06/Indus-print-800x749.jpg" alt="">
    </div>
    <div class="col-md-6 d-flex">
      <div class="row">
        <div class="col-md-12">
          <p>All of our fabrics are sourced in Italy and Spain; chosen for their covetable quality and beauty. &nbsp;We then send our chosen fabrics to be&nbsp;printed in either London or Como, Italy with our unique prints that we have designed for the season.</p>
        </div>
        <div class="col-md-12 mt-auto wow fadeInRight">
          <div class="row">
            <div class="col-md-6 mr-auto">
              <article>
                <a href="#">
                  <div class="postimg">
                    <img class="img-fluid" src="https://www.paolita.co.uk/wp-content/uploads/2017/05/IMG_4422-700x525.jpg" alt="">
                  </div><!-- /postimg -->
                  <h3>
                    Our Amazing Fabrics
                  </h3>
                </a><!-- /post__link -->

                <div >
                  <a href="#">
                    <span class="linkline">Read article</span>
                    <span class="fa fa fa-long-arrow-right"></span>
                  </a>
                </div><!-- /postcta -->
              </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 38",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 38",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}