<div class="container">
  <div class="row widget style-37">
    <div class="col-md-3">
      <div class="product-name wow fadeInLeft" data-wow-duration="1s">
        <h3 class="product-title">
          <a href="#">
            Karma Swimsuit
          </a>
        </h3>
        <div class="price">
          $200.00
        </div>
        <div>
          <a class="product-link-button" href="#">
            <span class="linkline">View product </span>
            <span class="fa fa-long-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>

    <div class="col-md-6 ml-auto mr-auto">
      <img class="img-fluid wow fadeIn" src="https://www.paolita.co.uk/shop/media/catalog/product/cache/2/small_image/1000x/17f82f742ffe127f42dca9de82fb58b1/k/a/karma_front.jpg" alt="">
    </div>

    <div class="col-md-3">
      <div class="product-description wow fadeInRight" data-wow-duration="1s">
        <p>
          The jewel of the collection, the Karma one piece features a gold mesh in that brings ethereal beauty to this karmic print. A plunging back and high cut neckline lengthen the body, and mesh sides bring in the waist, to allow the Goddess wearing it to glow.
        </p>
        <div>
            <a class="product-link-button" href="#">
              <span class="linkline">View product </span>
              <i class="fa fa-long-arrow-right"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</div>