<div class="container">
    <div class="row widget style-25">
        <div class="col-md-4">
            <div class="d-flex justify-content-center justify-content-md-left sf_wrapper">
                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/delivery.png">
                <div>
                    <h4>Free Delivery</h4>
                    <span>On orders over $99</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center justify-content-md-left sf_wrapper">
                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/phone.png">
                <div>
                    <h4>Free Delivery</h4>
                    <span>On orders over $99</span>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="d-flex justify-content-center justify-content-md-left sf_wrapper">
                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/card.png">
                <div>
                    <h4>Free Delivery</h4>
                    <span>On orders over $99</span>
                </div>
            </div>
        </div>
    </div>
</div>
{% schema %}
{
  "name": "Widget 25",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 25",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}