
  <div class="container-fluid">
    <div class="row widget style-5">
      <div class="col-4">
        <a href="#">
          <div class="colour green">
            <div class="image">
              <img class="img-fluid" src="http://www.edwardgreen.com/sites/default/files/styles/medium/public/explore-eg-store.jpg?itok=Z3VXtkFS">
            </div>
            <div class="content">
              <h2 class="underline text-center">
                <span>
                  Shop Online
                </span>
              </h2>
              <div class="link link-border text-center">
                <span>Start shopping now</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#">
          <div class="colour green">
            <div class="image">
              <img class="img-fluid" src="http://www.edwardgreen.com/sites/default/files/styles/medium/public/explore-eg-store.jpg?itok=Z3VXtkFS">
            </div>
            <div class="content">
              <h2 class="underline text-center">
                <span>
                  Shop Online
                </span>
              </h2>
              <div class="link link-border text-center">
                <span>Start shopping now</span>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#">
          <div class="colour green">
            <div class="image">
              <img class="img-fluid" src="http://www.edwardgreen.com/sites/default/files/styles/medium/public/explore-eg-store.jpg?itok=Z3VXtkFS">
            </div>
            <div class="content">
              <h2 class="underline text-center">
                <span>
                  Shop Online
                </span>
              </h2>
              <div class="link link-border text-center">
                <span>Start shopping now</span>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
{% schema %}
{
  "name": "Widget 5",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 5",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}