<div class="row widget style-44">
    <div class="col-12">
      <h2 class="text-center" style="padding: 45px;">
        <span style="font-size: 21px;padding: 16px;border: 1px solid;">
          ON INSTAGRAM
        </span>
      </h2>
    </div>
    <div class="col-12">
      <ul class="social-network-gallery">
        <li>
          <a href="#">
            <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19429538_103411030286290_2432186206734254080_n.jpg" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/e15/c0.90.720.720/19379223_1864444920473693_3339768244406845440_n.jpg" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19429538_103411030286290_2432186206734254080_n.jpg" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19429538_103411030286290_2432186206734254080_n.jpg" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19429538_103411030286290_2432186206734254080_n.jpg" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19429538_103411030286290_2432186206734254080_n.jpg" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19429538_103411030286290_2432186206734254080_n.jpg" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19429538_103411030286290_2432186206734254080_n.jpg" class="img-fluid">
          </a>
        </li>
        <li>
          <a href="#">
            <img src="https://scontent.cdninstagram.com/t51.2885-15/s640x640/sh0.08/e35/19429538_103411030286290_2432186206734254080_n.jpg" class="img-fluid">
          </a>
        </li>
      </ul>
    </div>
</div>