<div class="container-fluid d-block d-md-none">
  <div class="row widget style-35">
    <div class="col-md-12">
      <ul>
        <li>
            <a href="#">
                Hombre
            </a>
        </li>
        <li>
            <a href="#">
                Mujer
            </a>
        </li>
        <li>
            <a href="#">
                Accesorios
            </a>
        </li>
        <li>
            <a href="#">
                Brand
            </a>
        </li>
      </ul>
    </div>
  </div>
</div>
{% schema %}
{
  "name": "Widget 35",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 35",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}