<div class="container-fluid widget style-27">
    <div class="container">
        <div class="row">
              <div class="col-12">
                <h1 class="text-center">This is a content block</h1>

                <div class="row">
                    <div class="col-md-4">
                      <div class="side">
                        <a href="#" class="banner-link"> 
                            <img src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/belts.png" >
                        </a>
                        <div>
                            <h4>Belts</h4>
                            <a href="#" class="hiddabl">Shop Now</a>
                        </div>
                      </div>
                      <div class="side">
                         <a href="#" class="banner-link"> 
                            <img src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/wallets2.png">
                        </a>
                        <div>
                            <h4>Wallets</h4>
                            <a href="#" class="hiddabl">Shop Now</a>
                        </div>
                      </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="center">
                            <a href="#" class="banner-link"> 
                                <img class="img-fluid" src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/jackets1.png" >
                            </a>
                            <div>
                                <h4>Jackets</h4>
                                <a href="#" class="hiddabl">Shop Now</a>
                            </div>
                        </div>
                   </div>

                   <div class="col-md-4 side-wrapper">
                      <div class="side r-side r-sale" style="background: #000; color: #fff;">
                         <a href="#" class="banner-link"> 
                            <img src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/sale.jpg" >
                        </a>
                        <div class="banner-descr">
                            <div>
                              <h1>Sale</h1>
                              <span>Get Up to 50% Off</span>
                            </div>
                            <div>
                                <a href="#">
                                    Shop Now
                                </a>
                            </div>
                        </div>
                      </div>
                      <div class="side r-side">
                         <a href="#" class="banner-link"> 
                            <img src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/backpacks.png" >
                        </a>
                         <div class="bann-desc">
                            <h4>Backpacks</h4>
                            <a href="#" class="hiddabl">
                                Shop Now
                            </a>
                         </div>
                      </div>
                   </div>
                   <div class="row">
                      <div class=" bottom-banner col-lg-12">
                        <a href="#" class="banner-link"> 
                            <img src="http://belvg.net/prestashop-themes/sellon/prestashop/img/cms/bottom-banner.png" alt="">
                        </a>
                        <div class="banner-desc">
                            <h2>The Style Room</h2>
                            <span>
                                See what’s new from contemporary, classic, and designer fashion brands
                            </span>
                            <a class="more-button effect up" href="#">
                                More
                            </a>
                        </div>
                      </div>
                   </div>
                </div>

              </div>
          </div>
    </div>
</div>
{% schema %}
{
  "name": "Widget 27",
  "settings": [{
    "type": "text",
    "id": "title",
    "label": "Heading"
  }],
  "presets": [{
    "category": "Custom Content",
    "name": "Widget 27",
    "settings": {
      "title": "Hello World"
    }
  }]
}
{% endschema %}